
<!-- Footer -->
<footer class="py-4" style="background-color: #0A0F43;">
  <div class="container">
    <div class="row justify-content-center">
      <!-- Logo and Company -->
      <div class="col-md-3" style="color: white;">
        <h5>One Stop Solution</h5>
      </div>


      <!-- Second Column -->
      <div class="col-md-2 justify-content-center">
        <h6 class="text-uppercase" style="color: white;">Category</h6>
        <ul class="list-unstyled">
          <li><a href="/iphone" class="text-custom">iPhone</a></li>
          <li><a href="/ipad" class="text-custom">iPad</a></li>
          <li><a href="/macbook" class="text-custom">MacBook</a></li>
          <li><a href="/laptop" class="text-custom">Laptop</a></li>
        </ul>
      </div>

      <div class="col-md-2 justify-content-center">

        <h6 class="text-uppercase" style="color: white;">Consumer Policy</h6>
        <ul class="list-unstyled">
          <li><a href="/static/files/cancel.pdf" class="text-custom" target = "_blank">Cancellation</a></li>
          <li><a href="/static/files/grievance.pdf" class="text-custom" target = "_blank">Grievance_Redressal</a></li>
          <li><a href="/static/files/payment.pdf" class="text-custom" target = "_blank">Payment</a></li>
          <li><a href="/static/files/privacy.pdf" class="text-custom" target = "_blank">Privacy</a></li>
          <li><a href="/static/files/return.pdf" class="text-custom" target = "_blank">Return</a></li>
        </ul>
      </div>
    </div>
    
    <hr class="bg-light">

    <!-- Social Links -->
    <div class="text-center justify-content-center">
      <a href="https://www.facebook.com/profile.php?id=61565925247882" target = "_blank" class="text-custom mx-2"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/onestop_solutionss/?next=%2F" target = "_blank" class="text-custom mx-2"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
<footer class="footer_section">
  <div class="container">
    <p>
      &copy; <span id="displayDateYear"></span> All Rights Reserved By Bluetick Software
    </p>
  </div>
</footer>


  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="/static/js/custom.js"></script>
</body>

</html>


